{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'emotes.js' %}"></script> 
<html>
    <body onload="parse_table()">
        <div class="top-messages-navigation"></div>
            <span class="channel-title">
                <a class="channel-title" href="{{ channel }}">{{ channel }}</a>
            </span class="channel-title">
            <span class="page-navigation">
                {% comment %}{% include "channel/page_navigation.html" %}{% endcomment %}
            </span>
        </div>
        <div>
            {% include "messages.html" %}
        </div>
        <div class="bottom-messages-navigation">
            <span class="page-navigation">
                {% comment %}{% include "channel/page_navigation.html" %}{% endcomment %}
            </span>
        </div>
    </body>
</html>