{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'emotes.js' %}"></script> 
<script src="{% static 'page_navigation.js' %}"></script> 
<html>
    <body onload="parse_table()">
        <div class="messages-navigation">
            <span class="channel-title">
                <a class="channel-title" href="{{ channel }}">{{ channel }}</a>
            </span>
            <span class="page-navigation">
                <a class="first-page"{% if page > 0 %} href="{% url 'channel' channel %}{% if username is not None %}?username={{ username }}{% endif %}" title='First Page'{% endif %}><<</a>
                <a class="previous-page"{% if page > 0 %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'-1' }}&limit={{ limit }}" title='Prev Page'{% endif %}><</a>
                <input class="page-selection" size="3" onchange="change_page.call(this);" type="number" min="0" max="{{ last_page }}" data-url="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}limit={{ limit }}" value="{{ page }}">
                <a class="next-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'1' }}&limit={{ limit }}" title='Next Page'{% endif %}>></a>
                <a class="last-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ last_page }}&limit={{ limit }}" title='Last Page'{% endif %}>{{ last_page}} >></a>
            </span>
        </div>
        <div>
            {% include "messages.html" %}
        </div>
        <div class="messages-navigation">
            <span class="page-navigation">
                <a class="first-page"{% if page > 0 %} href="{% url 'channel' channel %}{% if username is not None %}?username={{ username }}{% endif %}" title='First Page'{% endif %}><<</a>
                <a class="previous-page"{% if page > 0 %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'-1' }}&limit={{ limit }}" title='Prev Page'{% endif %}><</a>
                <input class="page-selection" size="3" onchange="change_page.call(this);" type="number" min="0" max="{{ last_page }}" data-url="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}limit={{ limit }}" value="{{ page }}">
                <a class="next-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'1' }}&limit={{ limit }}" title='Next Page'{% endif %}>></a>
                <a class="last-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ last_page }}&limit={{ limit }}" title='Last Page'{% endif %}>{{ last_page}} >></a>
            </span>
        </div>
    </body>
</html>