{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<html>
    <h1>Channels</h1>
    <body>
        <ul class="channel-list">
            {% for channel in channels %}
                <li class="channel-list-item">
                    <a class="channel-list-item-link" href="{{ channel }}">
                        <span class="channel-list-item-channel">{{ channel }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>