<table id="messages">
    <tr>
        <th>Date</th>
        <th>User</th>
        <th>Message</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{ message.timestamp }}</td>
        <td>
            <a style="color:{{ message.color }}; text-decoration: none;" href="{{ channel }}?username={{ message.username }}">{{ message.username }}</a>
        </td>
        <td>{{ message.content | safe }}</td>
    </tr>
    {% endfor %}
</table>
<div id="messages-navigation">
    <div id="page-number-navigation">
        {% if page > 1 %}
        <a id="first-page-number" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page=0&limit={{ limit }}">0</a>
        ...
        {% endif %}
        {% if second_previous_page >= 0 %}
        <a id="second-previous-page-number" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ second_previous_page }}&limit={{ limit }}">{{ second_previous_page }}</a>
        {% endif %}
        {% if previous_page >= 0 %}
        <a id="previous-page-number" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ previous_page }}&limit={{ limit }}">{{ previous_page }}</a>
        {% endif %}
        {{ page }}
        {% if next_page <= max_pages %}
        <a id="next-page-number" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ next_page }}&limit={{ limit }}">{{ next_page }}</a>
        {% endif %}
        {% if second_next_page <= max_pages %}
        <a id="second-next-page-number" href="{% url 'channel' channel  %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ second_next_page }}&limit={{ limit }}">{{ second_next_page }}</a>
        {% endif %}
        {% if second_next_page < max_pages %}
        ...
        <a id="last-page-number" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ max_pages|add:'-1' }}&limit={{ limit }}">{{ max_pages|add:"-1" }}</a>
        {% endif %}
    </div>
    {% if page != 0 %}
    <a id="previous-page" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ previous_page }}&limit={{ limit }}">Prev</a>
    {% endif %}
    {% if page < max_pages %}
    <a id="next-page" href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ next_page }}&limit={{ limit }}">Next</a>
    {% endif %}
</div>