<div id="top-messages-navigation">
    {% include "page_navigation.html" %}
</div>
<table class="messages">
    <tr class="messages-header">
        <th class="message-date">Date</th>
        <th class="message-user">User</th>
        <th class="message-content">Message</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td class="message-date">{{ message.timestamp }}</td>
        <td class="message-user">
            <a style="color:{{ message.color }};" href="{{ channel }}?username={{ message.username }}">{{ message.username }}</a>
            <a href="{% url 'user' message.username %}">[U]</a>
        </td>
        <td class="message-content">{{ message.content | safe }}</td>
    </tr>
    {% endfor %}
</table>
<div id="bottom-messages-navigation">
    {% include "page_navigation.html" %}
</div>