<table id="messages">
    <tr class="messages-header">
        <th class="message-date">Date</th>
        {% if not channel %}
        <th class="message-channel">Channel</th>
        {% endif %}
        <th class="message-user">User</th>
        <th class="message-content">Message</th>
    </tr>
    {% for message in messages %}
    <tr class="messages-row" data-channel-id="{{ message.channel_id }}" data-channel="{{ message.channel }}">
        <td class="message-date">{{ message.timestamp }}</td>
        {% if not channel %}
        <td class="message-channel">
            <a href="{% url 'channel' message.channel %}?username={{ username }}">{{ message.channel }}</a>
        </td>
        {% endif %}
        <td class="message-user">
            <a style="color:{{ message.color }};" href="{{ message.channel }}?username={{ message.username }}">{{ message.username }}</a>
            <a href="{% url 'user' message.username %}">[U]</a>
        </td>
        <td class="message-content" data-emotes="{{ message.emotes }}" data-emotes-ffx="{{ message.emotes_ffz }}" data-emotes-bttv="{{ message.emotes_bttv }}" data-emotes-seventv="{{ message.emotes_seventv }}><span class="content-fragment">{{ message.content }}</span></td>
    </tr>
    {% endfor %}
</table>