<div class="page-navigation">
    <a id="first-page"{% if page > 0 %} href="{% url 'channel' channel %}{% if username is not None %}?username={{ username }}{% endif %}"{% endif %}><<</a>
    <a id="previous-page"{% if page > 0 %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'-1' }}&limit={{ limit }}"{% endif %}><</a>
    <select data-url="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}limit={{ limit }}">
        {% load page_filter %}
        {% for i in last_page|pages %}
        <option value="{{ i }}"{% if i == page %} selected="selected"{% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
    
    <a id="next-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ page|add:'1' }}&limit={{ limit }}"{% endif %}>></a>
    <a id="last-page"{% if page < last_page %} href="{% url 'channel' channel %}?{% if username is not None %}username={{ username }}&{% endif %}page={{ last_page }}&limit={{ limit }}"{% endif %}>{{ last_page}} >></a>
    
</div>
