:root {
    --text-color: rgb(239, 239, 241);
}

body {
    background-color:rgb(14, 14, 16);
    color: var(--text-color);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

table.messages {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

th {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #342641;
    border: 3px #0b0a0d;
    border-collapse: collapse;
    border-style: solid;
}

td.message-date, td.message-user, td.message-channel, td.message-content {
    text-align: left;
    padding: 8px;
    border: 1px #0b0a0d;
    border-collapse: collapse;
    border-style: solid;
}

tr.messages-row:nth-child(odd) {background-color: #0f0c12;}
tr.messages-row:nth-child(even) {background-color: #1f1925;}

.message-date, .message-user, .message-channel {
    width: 1em;
    white-space: nowrap;
}

.message-date {
    color: #A1A1A1
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a.channel-title, a.user-title {
    font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

div.page-navigation {
    font-size: 18px;
    margin: auto;
}

select.page-selection {
    font-size: inherit;
    color: var(--text-color);
    background-color: #2f2736;
    padding: 8px;
    padding-top: 6px;
    border-style: solid;
    background-clip: border-box;
    border: 1px #0b0a0d;
    margin: 2px;
}

a.first-page, a.previous-page, a.next-page, a.last-page {
    border: 1px #0b0a0d;
    background-color: #2f2736;
    border-collapse: collapse;
    border-style: solid;
    background-clip: border-box;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
