body {
    background-color:rgb(14, 14, 16);
    color: rgb(239, 239, 241);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

th {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #342641;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {background-color: #0f0c12;}
tr:nth-child(even) {background-color: #1f1925;}

.message-date {
    width: 1em;
}