<a class="first-page"{% if page > 0 %} href="{% url 'user' username %}?page=0&limit={{ limit }}" title='First Page'{% endif %}><<</a>
<a class="previous-page"{% if page > 0 %} href="{% url 'user' username %}?page={{ page|add:'-1' }}&limit={{ limit }}" title='Prev Page'{% endif %}><</a>
<select class="page-selection" onchange="change_page.call(this);" data-url="{% url 'user' username %}?limit={{ limit }}">
    <option value="{{ page }}" selected="selected">{{ page }}</option>
</select>
<a class="next-page"{% if page < last_page %} href="{% url 'user' username %}?page={{ page|add:'1' }}&limit={{ limit }}" title='Next Page'{% endif %}>></a>
<a class="last-page"{% if page < last_page %} href="{% url 'user' username %}?page={{ last_page }}&limit={{ limit }}" title='Last Page'{% endif %}>{{ last_page}} >></a>